<form>
    <div class="row">
        <div class="col">
            <label class="form-label">Nombre</label>
            <input type="text" class="form-control" [(ngModel)]="usuario.nombre" name="nombre">
        </div>
        <div class="col">
            <label class="form-label">Password</label>
            <input type="password" [(ngModel)]="usuario.contrasena" name="contrasena" class="form-control">
        </div>
    </div>

    <div class="row">
        <div class="col mb-3">
            <label class="form-label">Segundo apellido</label>
            <input type="text" class="form-control" [(ngModel)]="usuario.apellido2" name="apellido2">
        </div>
        <div class="col mb-3">
            <label class="form-label">Email</label>
            <input type="email" class="form-control" [(ngModel)]="usuario.email" name="email">
        </div>
    </div>

    <div class="row">
        <div class="col mb-3">
            <label class="form-label">Telefono</label>
            <input type="text" class="form-control" [(ngModel)]="usuario.telefono" name="telefono">
        </div>
        <div class="col mb-3">
            <div class="row">
                <select class="form-select col" [(ngModel)]="direccionSelecionada" aria-label="Default select example"
                    name="direccion">
                    <option selected value="0">Direcciones</option>
                    <option *ngFor="let direccion of direcciones" value="{{direccion.id}}">{{direccion.direccion}}
                    </option>
                </select>
                <div class="col">
                    <a (click)="eliminarDireccion()" class=""><i class="fas fa-trash" style="color:#4CAF50"></i></a>
                    <a class="" data-bs-toggle="collapse" href="#nuevaDireccion" role="button" aria-expanded="false"
                        aria-controls="collapseExample"><i class="fas fa-plus-circle" style="color:#4CAF50"></i></a>
                </div>
            </div>
        </div>
            <div class="col collapse" id="nuevaDireccion">
                <div class="mb-3">
                    <label class="form-label">Nueva Direccion</label>
                    <input type="text" class="form-control" [(ngModel)]="nuevaDireccion" name="nuevaDireccion">
                </div>
                <button type="submit" class="btn bg-success" (click)="guardarDireccion()">Añadir
                    Direccion</button>
            </div>

       
    </div>
    <button type="submit" class="btn bg-success" (click)="guardar()">Guardar cambios</button>
</form>