<form>
    <div class="mb-3">
        <label class="form-label">Nombre</label>
        <input type="text" class="form-control" [(ngModel)]="usuario.nombre" name="nombre">
    </div>
    <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" [(ngModel)]="usuario.contrasena" name="contrasena" class="form-control">
    </div>

    <div class="mb-3">
        <label class="form-label">Segundo apellido</label>
        <input type="text" class="form-control" [(ngModel)]="usuario.apellido2" name="apellido2">
    </div>
    <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="email" class="form-control" [(ngModel)]="usuario.email" name="email">
    </div>
    <div class="mb-3">
        <label class="form-label">Telefono</label>
        <input type="text" class="form-control" [(ngModel)]="usuario.telefono" name="telefono">
    </div>
    <div class="direccion mb-3">
        <div class="row">
            <select class="form-select col" [(ngModel)]="direccionSelecionada" aria-label="Default select example" name="direccion">
                <option selected value="0">Direcciones</option>
                <option *ngFor="let direccion of direcciones" value="{{direccion.id}}" >{{direccion.direccion}}</option>
            </select>
            <a (click)="eliminarDireccion()" class="col"><i class="fas fa-trash col"></i></a>
        </div>
        <div>
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="collapsed btn btn-primary" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            <i class="fas fa-plus-circle"></i>
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <div class="mb-3">
                                <label class="form-label">Nueva Direccion</label>
                                <input type="text" class="form-control" [(ngModel)]="nuevaDireccion"
                                    name="nuevaDireccion">
                            </div>
                            <button type="submit" class="btn btn-primary" (click)="guardarDireccion()">Añadir
                                Direccion</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <button type="submit" class="btn btn-primary" (click)="guardar()">Guardar cambios</button>
</form>