<div class="barra w-100">
  <nav class="navbar navbar-expand-lg navbar w-100 row">
    <div class="container-fluid">
      <a class="navbar-brand " routerLink="/"><img class="ml-4" src="../../assets/watermelon.png" height="75px" alt="Inicio"></a>
      <h3 style="color:#212121">Frutas Angela</h3>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="d-flex collapse navbar-collapse justify-content-center w-75" id="navbarSupportedContent">
        <div class="d-flex w-100 justify-content-center">
          <input class="form-control me-2 w-75" [(ngModel)]="textoBusqueda" placeholder="Buscar">
          <button class="btn btn-outline-light" (click)="buscar(textoBusqueda)">Search</button>
        </div>
      </div>
      <a routerLink="/carrito"><i class="fas fa-shopping-cart fa-3x" style="color:#ffff"></i></a>
    </div>
  </nav>
</div>