<h1>Carrito</h1>
<hr>
<h3>Productos</h3>
<div class="productos">
    <ul class="list-group my-4 mr-4">
        <li *ngFor="let producto of productosCarrito" class="list-group-item">
            <div class="row">
                <h2>{{producto.nombre}}</h2>
                <div class="col ">
                    <img src={{producto.imagen}} class="col-2 align-self-center" />
                </div>

                <p class="col-1 h-25 align-self-center"><input class="w-100" type=number min=0.1
                        value="{{producto.unidades}}" step="0.1"> KG</p>

                <div class="col ">
                    <a (click)="eliminarProducto(producto.carrito_id_producto)"><i
                            class="fas fa-trash-alt fa-2x"></i></a>
                </div>
            </div>
        </li>
    </ul>
</div>
<h3>Direccion</h3>
<div class="direccion mb-3">
    <div class="row">
        <select class="form-select col" aria-label="Default select example" [(ngModel)]="idDireccion">
            <option selected>Producto a modificar</option>
            <option *ngFor="let direccion of direcciones" value="{{direccion.id}}">{{direccion.direccion}}</option>
        </select>
    </div>
    <div id="emailHelp" class="form-text">Selecciona un direccion</div>

</div>
<button class="btn btn-primary" (click)="venta()">Realizar Compra</button>


