<h1>Carrito</h1>
<hr>
<h3>Productos</h3>
<div class="productos">
    <ul class="list-group my-4 mr-4">
        <li *ngFor="let producto of productosCarrito" class="list-group-item">
            <h2>{{producto.nombre}}</h2>
            <div class="row d-flex justify-content-start align-self-center">
                <div class="col-3 justify-content-center align-self-center">
                    <img src={{producto.imagen}} class="w-100" />
                </div>
                <div class="col d-flex justify-content-center align-self-center">
                    <p><input  type=number min=0.1 name="unidades" [(ngModel)]="producto.unidades"
                            step="0.1"> KG</p>
                </div>
                <div class="col d-flex justify-content-center align-self-center">
                    <p class="text-aling-center">Total: <button class="btn btn-outline-secondary" disabled [(ngModel)]="producto.total"
                            name="total">{{(producto.pvp_unidad*producto.unidades).toFixed(2)}}</button>€</p>
                </div>
                <div class="col-1 d-flex justify-content-end align-self-center">
                    <a class="text-aling-center m-0 p-0" (click)="eliminarProducto(producto.carrito_id_producto)"><i
                            class="fas fa-trash-alt fa-3x"></i></a>
                </div>
            </div>
        </li>
    </ul>
</div>
<h3>Direccion</h3>
<div class="direccion mb-3">
    <div class="row">
        <select class="form-select col" aria-label="Default select example" [(ngModel)]="idDireccion">
            <option selected>Producto a modificar</option>
            <option *ngFor="let direccion of direcciones" value="{{direccion.id}}">{{direccion.direccion}}</option>
        </select>
    </div>
    <div id="emailHelp" class="form-text">Selecciona un direccion</div>

</div>
<button class="btn bg-success" (click)="venta()">Realizar Compra</button>