<div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                Añadir Producto
            </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <form>
                    <div class="mb-3">
                        <label class="form-label">Nombre</label>
                        <input type="text" class="form-control" name="nombre" [(ngModel)]="productoNuevo.nombre">
                        <div class="form-text">Nombre del producto</div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Descripcion</label>
                        <input type="text" class="form-control" name="descripcion"
                            [(ngModel)]="productoNuevo.descripcion">
                        <div id="emailHelp" class="form-text">Introduce una descripcion del producto</div>
                    </div>
                    <div class="mb-3">
                        <select class="form-select" aria-label="Default select example" name="tipo_producto"
                            [(ngModel)]="productoNuevo.tipo_producto">
                            <option selected>Tipo de producto</option>
                            <option value={{tipo.id}} *ngFor="let tipo of tiposProducto">{{tipo.tipo}}</option>
                        </select>
                        <button class="btn btn-success mt-2">Añadir tipo</button>
                    </div>
                    <div class="mb-3">
                        <input class="w-50" type=number min=0.1 value="1" step="0.1" name="pvp_unidad"
                            [(ngModel)]="productoNuevo.pvp_unidad"> €/kg
                    </div>
                    <div class="mb-3">
                        <input class="w-50" type=number min=1 value="1" name="stock" [(ngModel)]="productoNuevo.stock">
                        Stock
                    </div>
                    <div class="mb-3">
                        <img src="{{productoNuevo.imagen}}">
                        <input class="w-50" type=url name="imagen" [(ngModel)]="productoNuevo.imagen"> Imagen URL
                    </div>

                    <button type="submit" class="btn btn-success" (click)="addProducto()">Añadir
                        Producto</button>
                </form>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                Modificar Producto
            </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <form>
                    <div class="mb-3">
                        <select class="form-select" aria-label="Default select example" (change)="cargarModificar()"
                            name="productoIdModificar" [(ngModel)]="productoIdModificar">
                            <option selected>Producto a modificar></option>
                            <option value={{producto.id}} *ngFor="let producto of productos">{{producto.nombre}}
                            </option>
                        </select>
                        <div id="emailHelp" class="form-text">Selecciona un producto para modificar</div>
                    </div>
                </form>
                <form>
                    <div class="mb-3">
                        <label class="form-label">Nombre</label>
                        <input type="text" class="form-control" name="nombre" [(ngModel)]="productoModificar.nombre">
                        <div class="form-text">Nombre del producto</div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Descripcion</label>
                        <input type="text" class="form-control" name="descripcion"
                            [(ngModel)]="productoModificar.descripcion">
                        <div id="emailHelp" class="form-text">Introduce una descripcion del producto</div>
                    </div>
                    <div class="mb-3">
                        <select class="form-select" aria-label="Default select example" name="tipo_producto"
                            [(ngModel)]="productoModificar.tipo_producto">
                            <option selected>Tipo de producto</option>
                            <option value="{{tipo.id}}" *ngFor="let tipo of tiposProducto">{{tipo.tipo}}</option>
                        </select>
                        <button class="btn btn-success mt-2">Añadir tipo</button>
                    </div>
                    <div class="mb-3">
                        <input class="w-50" type=number min=0.1 value="1" step="0.1" name="pvp_unidad"
                            [(ngModel)]="productoModificar.pvp_unidad"> €/kg
                    </div>
                    <div class="mb-3">
                        <input class="w-50" type=number min=1 value="1" name="stock"
                            [(ngModel)]="productoModificar.stock"> Stock
                    </div>
                    <div class="mb-3">
                        <img src="{{productoModificar.imagen}}">
                        <input class="w-50" type=url name="imagen" [(ngModel)]="productoModificar.imagen"> Imagen URL
                    </div>

                    <button type="submit" class="btn btn-success" (click)="modificarProducto()">Modificar
                        Producto</button>
                </form>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                Eliminar Producto
            </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <form>
                    <div class="mb-3">
                        <select class="form-select" aria-label="Default select example" [(ngModel)]="productoIdEliminar" name="productoIdEliminar">
                            <option selected>Producto a eliminar</option>
                            <option value="{{producto.id}}" *ngFor="let producto of productos">
                                {{producto.nombre}} - {{producto.descripcion}}</option>
                        </select>
                        <div class="form-text">Selecciona un producto para eliminar</div>
                    </div>
                    <button type="submit" class="btn btn-success" (click)="eliminarProducto()">Eliminar
                        Producto</button>
                </form>
            </div>
        </div>
    </div>
</div>