<div class="d-flex flex-column p-3 text-white bg-dark h-100" style="width: 280px;">
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a routerLink="/" class="nav-link text-white" aria-current="page" [ngClass]="{'bg-success':rutas.inicio}"
        (click)="rutaActiva()">
        <svg class="bi me-2" width="16" height="16">
          <use></use>
        </svg>
        Inicio
      </a>
    </li>
    <li>
      <a routerLink="/productos" class="nav-link  text-white" [ngClass]="{'bg-success':rutas.productos}"
        (click)="rutaActiva()">
        <svg class="bi me-2" width="16" height="16">
          <use xlink:href="#speedometer2"></use>
        </svg>
        Productos
      </a>
    </li>
    <li *ngIf="configuracionProducto">
      <a routerLink="/configuracionProductos" class="nav-link text-white w-100"
        [ngClass]="{'bg-success':rutas.gestionProductos}" (click)="rutaActiva()">
        <svg class="bi me-2" width="16" height="16">
        </svg>
        Gestion Productos
      </a>
    </li>
    <li *ngIf="configuracionProducto">
      <a routerLink="/ventas" class="nav-link text-white w-100"
        [ngClass]="{'bg-success':rutas.ventas}" (click)="rutaActiva()">
        <svg class="bi me-2" width="16" height="16">
        </svg>
        Resumen Ventas
      </a>
    </li>

</ul>
<hr>
<div class="dropdown">
  <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1"
    data-bs-toggle="dropdown" aria-expanded="false" (click)="rutaActiva()">
    <img src="https://i.ibb.co/PCm5D4Z/Usuario.png" alt="" width="32" height="32" class="rounded-circle me-2">
    <strong>{{usuario.nombre}}</strong>

  </a>
  <ul class="dropdown-menu dropdown-menu text-small" aria-labelledby="dropdownUser1">
    <li><a class="dropdown-item" routerLink="/login" *ngIf='!getloging()'>Iniciar Sesion</a></li>
    <li><a class="dropdown-item" routerLink="/ajustesUsuario" *ngIf='getloging()'>Ajustes usuario</a></li>
    <li><a class="dropdown-item" routerLink="/register" *ngIf='!getloging()'>Registrar</a></li>
    <li>
      <hr class="dropdown-divider">
    </li>
    <div *ngIf='getloging()'>
      <li><a class="dropdown-item" (click)="logout()">Salir</a></li>
    </div>
  </ul>
</div>
</div>