<h1 class="mb-2 mt-2">Listado de productos</h1>
<hr>
<ul class="list-group my-4 mr-4">
    <li *ngFor="let producto of listaProductos" class="list-group-item">
        <div class="row justify-content-center align-self-center">
            <h2>{{producto.nombre}}</h2>
            <img src={{producto.imagen}} class="col-2 "/>
            <p class="col-4 justify-content-center align-self-center">{{producto.descripcion}}</p>
            <p class="col-2 justify-content-center align-self-center"><button class="btn btn-outline-secondary" disabled>{{producto.pvp_unidad}} €/kg </button></p> 
            <p class= "col-2 justify-content-center align-self-center"><input class="w-50" id="stock" type=number min=0.1 max={{producto.stock}} value="0" step="0.1" (change)="actualizaUnidades($event,producto.id,producto.pvp_unidad)"> KG</p>
            <p class= "col justify-content-center align-self-center">Total: {{total[producto.id]}}€</p>
            <a class="col justify-content-center align-self-center"><i class="fas fa-plus fa-3x" style="color:#4CAF50" (click)="addCarrito(producto.id)"></i></a>
        </div>
    </li>
</ul>
